<%- include('../partials/header') %>
<div class='container my-3'>
  <h1 class='text-center'>Registrar Nova Pendência</h1>
  <p><a href="/pendencias"> Voltar para Lista de Pendências</a></p>
</div>

<div class='container'>
  <div class='alert alert-info'>
    <form method='post'>
    <div class='row'>
      <div class='col-md-2'>
        <div class="form-group">
          <label for="ul">UL</label>
          <input type="text" class="form-control" id="ul" name='ul' placeholder="UL">
        </div>
      </div>
      <div class='col-md-6'>
        <div class="form-group">
          <label for="local">Local</label>
          <input type="text" class="form-control" id="local" name='local' placeholder="UL">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label for="responsavel">Responsável</label>
          <input type="text" class="form-control" id="responsavel" name='responsavel' placeholder="Responsável">
        </div>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col-md-6'>
        <label for="termo">Termo de Responsabilidade</label>
        <select class="form-control" id="termo" name='termo'>
          <option>Não</option>
          <option>Sim</option>
        </select>
      </div>
      <div class='col-md-6'>
        <label for="bens">Todos os Bens Lidos?</label>
        <select class="form-control" id="bens" name='bens'>
          <option>Não</option>
          <option>Sim</option>
        </select>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col-md-12'>
        <div class="form-group">
          <label for="descricao">Descrição da Pendência</label>
          <textarea class="form-control" id="descricao" name='descricao' rows="3"></textarea>
        </div>
      </div>
    </div>
    <button type="submit" class='btn btn-primary'>Registrar</button>
    <a href="/pendencias"><button type="button" class='btn btn-secondary'>Voltar</button></a>
  </form>
  </div>
</div>


<%- include('../partials/footer') %>